body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.treinos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.treino-bloco {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 30%;
  margin: 10px;
  background-color: #f9f9f9;
}

.treino-bloco h3 {
  color: #007BFF;
}

.treino-bloco p {
  margin: 5px 0;
}
