<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>CIC GYM</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>CIC GYM</h1>
            
        </div>

        <ul>
            <a href="#"><ul>Home</ul></a>
            <a href="#"><ul>Sobre</ul></a>
            <a href="/login" id="entrar"><ul>Login</ul></a>
            <a href="/cadastro" id="registro"><ul>Registro</ul></a>
        </ul>
    </header>

    <main>
        <aside>
            <h2>Sua nova forma</h2>
            <h2>de treinar</h2>
            <p>CIC GYM é um site ideal para organização de treinos,</p>
            <p>responsável pelo seu desenvolvimento físico.</p>
            <a href="/cadastro"><input type="submit" value="Crie sua conta" id="cadastrar"></a>
        </aside>

        <article>
            <img src="../static/assets/alunos_cic_gym.png" alt="pulo">
        </article>
    </main>
</body>
</html>