<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio Button de Gênero</title>
    <link rel="stylesheet" href="../static/css/teste.css">
</head>
<body>
    <form>
        <fieldset>
            <legend>Selecione seu gênero:</legend>
            <label for="genero">Gênero</label>
            <div class="radio-group">
                <label for="masculino">Masculino</label>
                <input type="radio" id="masculino" name="genero" value="M">
                <label for="feminino">Feminino</label>
                <input type="radio" id="feminino" name="genero" value="F">
            </div>
        </fieldset>
    </form>
</body>
</html>
